{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
My Story
{% endblock %}
{% block content %}
<div class="container">
    <h3>My Stories</h3>
    <div class="row">
        {% for story in story_list %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{story.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{story.title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="{{story.get_absolute_url}}" class="btn btn-primary">View Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}
{% endblock %}